@import url('./globals/index.css');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark-blue);
    font-family: var(--font-js);
}

div.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

div.application {
    margin-left: auto;
    align-items: center;
    margin-right: auto;
    width: 480px;
    margin-top: -12em;
    display: grid;
    row-gap: 2em;
    grid-template-columns: auto;
    >div.app-header {
        display: flex;
        align-items: center;
        >h1 {
            color: white;
            letter-spacing: 10px;
        }
        >span.theme-icon-wrapper {
            margin-left: auto;
        }
    }
    >div.form-wrapper {
        >div.todo-input-wrapper {
            width: 100%;
            >input.todo-input-box {
               width: 100%;
               padding: 1.2em;
               border-radius: 4px;
               border: none;
               &:focus {
                   outline: none !important;
                }
                background-color: var(--color-dark-desaturated-blue);
                font-family: inherit;
            }
        }
    }
    
}