:root {
    //primary colors
    --color-bright-blue: hsl(220, 98%, 61%);
    --color-bg-gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    //neutral colors
    --color-light-gray: hsl(0, 0%, 98%);
    --color-light-grayish-blue: hsl(236, 33%, 92%);
    --color-light-grayish-blue: hsl(233, 11%, 84%);
    --color-dark-grayish-blue: hsl(236, 9%, 61%);
    --color-very-dark-grayish-blue: hsl(235, 19%, 35%);

    --color-dark-blue: hsl(235, 21%, 11%) ;
    --color-dark-desaturated-blue: hsl(235, 24%, 19%);
    --color-light-grayish-blue: hsl(234, 39%, 85%);
    --color-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --color-dark-grayish-blue: hsl(234, 11%, 52%);
    --color-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
    --color-very-dark-grayish-blue-2: hsl(237, 14%, 26%);

}